<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order Form</title>
    <link rel="stylesheet" href="/static/css/logonPage/pageOrder.css"/>
    <script type="text/javascript" src="/static/js/loginPage/pageOrder.js"></script>
</head>
<body>

<h2>Create Order</h2>
<a href="/user">redirect home page</a>

<form th:action="@{/order/create}" th:method="post" th:object="${orders}">
    <div id="container1">
        <div id="startAddressColumn">
            <div class="input-group">
                <label for="startCity">Start Address: <br> City</label>
                <input type="text" id="startCity" name="startCity" th:field="*{startApartment.city}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('startApartment.city')}" th:errors="${orders.startApartment.city}" th:name="startCity">error</div>
            <br>
            <div class="input-group">
                <label for="startStreet">Street:</label>
                <input type="text" id="startStreet" th:field="*{startApartment.street}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('startApartment.street')}" th:errors="${orders.setStartApartment.street}" th:name="startStreet">error</div>
            <br>
            <div class="input-group">
                <label for="startHouse">House Number:</label>
                <input type="text" id="startHouse" th:field="*{startApartment.houseNumber}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('startApartment.houseNumber')}" th:errors="${orders.startApartment.houseNumber}" th:name="startHouse">error</div>
            <br>
            <div id="moreData" style="display: none;">
                <div class="input-group">
                    <label for="startEntrance">Entrance Number:</label>
                    <input type="text" id="startEntrance" th:field="*{startApartment.entranceNumber}" required>
                </div>
                <div class="error-message" th:if="${#fields.hasErrors('startApartment.entranceNumber')}" th:errors="${orders.startApartment.entranceNumber}" th:name="startEntrance">error</div>
                <br>
                <div class="input-group">
                    <label for="startFlat">Flat Number:</label>
                    <input type="text" id="startFlat" th:field="*{startApartment.flatNumber}" required>
                </div>
                <div class="error-message" th:if="${#fields.hasErrors('startApartment.flatNumber')}" th:errors="${orders.startApartment.flatNumber}" th:name="startFlat">error</div>
                <br>
            </div>
            <button type="button" onclick="toggleMoreData('toggleMoreData')">More Data</button>
        </div>

        <div id="finishAddressColumn">
            <div class="input-group">
                <label for="finishCity">Finish Address: <br> City </label>
                <input type="text" id="finishCity" th:field="*{finishApartment.city}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('finishApartment.city')}" th:errors="${orders.finishApartment.city}" th:name="finishCity">error</div>
            <br>
            <div class="input-group">
                <label for="finishStreet">Street:</label>
                <input type="text" id="finishStreet" th:field="*{finishApartment.street}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('finishApartment.street')}" th:errors="${orders.finishApartment.street}" th:name="finishStreet">error</div>
            <br>
            <div class="input-group">
                <label for="finishHouseNumber">House Number:</label>
                <input type="text" id="finishHouseNumber" th:field="*{finishApartment.houseNumber}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('finishApartment.houseNumber')}" th:errors="${orders.finishApartment.houseNumber}" th:name="finishHouseNumber">error</div>
            <br>
            <div id="moreDataFinish" style="display: none;">
                <div class="input-group">
                    <label for="finishEntranceNumber">Entrance Number:</label>
                    <input type="text" id="finishEntranceNumber" th:field="*{finishApartment.entranceNumber}" required>
                </div>
                <div class="error-message" th:if="${#fields.hasErrors('finishApartment.entranceNumber')}" th:errors="${orders.finishApartment.entranceNumber}" th:name="finishEntranceNumber">error</div>
                <br>
                <div class="input-group">
                    <label for="finishFlatNumber">Flat Number:</label>
                    <input type="text" id="finishFlatNumber" th:field="*{finishApartment.flatNumber}" required>
                </div>
                <div class="error-message" th:if="${#fields.hasErrors('finishApartment.flatNumber')}" th:errors="${orders.finishApartment.flatNumber}" th:name="finishFlatNumber">error</div>
                <br>
            </div>
            <button type="button" onclick="toggleFinishMoreData('toggleFinishMoreData')">More Data</button>
        </div>

        <div id="deliveryTypeColumn">
            <div class="input-group">
                <label for="deliveryType">Delivery Type:</label>
                <select id="deliveryType" th:field="*{deliveryType}">
                    <option value="express">Express</option>
                    <option value="standard">Standard</option>
                </select>
            </div>
            <div class="input-group">
                <label for="deliveryKind">Delivery Kind:</label>
                <select id="deliveryKind" th:field="*{orderType}">
                    <option value="food">Food</option>
                    <option value="electronics">Electronics</option>
                    <option value="people">People</option>
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" id="startLat" name="startApartment.lat">
    <div class="error-message" th:if="${#fields.hasErrors('startApartment.lat')}" th:errors="${orders.startApartment.lat}" th:name="startApartment.lat">error</div>

    <input type="hidden" id="startLng" name="startApartment.lng">
    <div class="error-message" th:if="${#fields.hasErrors('startApartment.lng')}" th:errors="${orders.startApartment.lng}" th:name="startApartment.lng">error</div>

    <input type="hidden" id="endLat" name="finishApartment.lat">
    <div class="error-message" th:if="${#fields.hasErrors('finishApartment.lat')}" th:errors="${orders.finishApartment.lat}" th:name="finishApartment.lat">error</div>

    <input type="hidden" id="endLng" name="finishApartment.lng">
    <div class="error-message" th:if="${#fields.hasErrors('finishApartment.lng')}" th:errors="${orders.finishApartment.lng}" th:name="finishApartment.lng">error</div>

    <input type="submit" value="Create Order">
    <br>

</form>
<br>
<br>
<hr>

<div id="container">
    <div id="map"></div>
    <div id="sidebar"></div>
</div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
        defer
></script>

</body>
</html>
