<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order Form</title>
    <link rel="stylesheet" href="/static/css/logonPage/pageOrder.css"/>
    <script type="text/javascript" src="/static/js/loginPage/pageOrder.js"></script>
</head>
<body>

<h2>Create Order</h2>

<form th:action="@{/order/create}" th:method="post" th:object="${orders}">
    <div id="container1">
        <!-- Start Address Column -->
        <div id="startAddressColumn">
            <div class="input-group">
                <label for="startCity">Start Address: <br> City</label>
                <input type="text" id="startCity" th:field="*{startCity}" required>
            </div>
            <div class="input-group">
                <label for="startStreet">Street:</label>
                <input type="text" id="startStreet" th:field="*{startStreet}" required>
            </div>
            <div class="input-group">
                <label for="startHouse">House Number:</label>
                <input type="text" id="startHouse" th:field="*{startHouseNumber}" required>
            </div>
            <div class="input-group">
                <label for="startEntrance">Entrance Number:</label>
                <input type="text" id="startEntrance" th:field="*{startEntranceNumber}" required>
            </div>
            <div class="input-group">
                <label for="startFlat">Flat Number:</label>
                <input type="text" id="startFlat" th:field="*{startFlatNumber}" required>
            </div>
        </div>

        <!-- Finish Address Column -->
        <div id="finishAddressColumn">
            <div class="input-group">
                <label for="finishCity">Finish Address: <br> City </label>
                <input type="text" id="finishCity" th:field="*{finishCity}" required>
            </div>
            <div class="input-group">
                <label for="finishStreet">Street:</label>
                <input type="text" id="finishStreet" th:field="*{finishStreet}" required>
            </div>
            <div class="input-group">
                <label for="finishHouse">House Number:</label>
                <input type="text" id="finishHouse" th:field="*{finishHouseNumber}" required>
            </div>
            <div class="input-group">
                <label for="finishEntrance">Entrance Number:</label>
                <input type="text" id="finishEntrance" th:field="*{finishEntranceNumber}" required>
            </div>
            <div class="input-group">
                <label for="finishFlat">Flat Number:</label>
                <input type="text" id="finishFlat" th:field="*{finishFlatNumber}" required>
            </div>
        </div>

        <!-- Delivery Type Column -->
        <div id="deliveryTypeColumn">
            <div class="input-group">
                <label for="deliveryType">Delivery Type:</label>
                <select id="deliveryType" th:field="*{deliveryType}">
                    <option value="express">Express</option>
                    <option value="standard">Standard</option>
                </select>
            </div>
            <div class="input-group">
                <label for="deliveryKind">Delivery Kind:</label>
                <select id="deliveryKind" th:field="*{orderType}">
                    <option value="food">Food</option>
                    <option value="electronics">Electronics</option>
                    <option value="people">People</option>
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" id="startLat" name="startLat">
    <input type="hidden" id="startLng" name="startLng">
    <input type="hidden" id="endLat" name="endLat">
    <input type="hidden" id="endLng" name="endLng">

    <input type="submit" value="Create Order">
</form>
<hr>

<div id="container">
    <div id="map"></div>
    <div id="sidebar"></div>
</div>

<!--
  The `defer` attribute causes the callback to execute after the full HTML
  document has been parsed. For non-blocking uses, avoiding race conditions,
  and consistent behavior across browsers, consider loading using Promises.
  See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
  for more information.
  -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
        defer
></script>

</body>
</html>