<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order Form</title>
    <link rel="stylesheet" href="/static/css/logonPage/pageOrder.css"/>
    <script type="text/javascript" src="/static/js/loginPage/pageOrder.js"></script>
</head>
<body>

<h2>Create Order</h2>
<a href="/user">redirect home page</a>

<form th:action="@{/order/create}" th:method="post" th:object="${orders}">
    <div id="container1">
        <!-- Start Address Column -->
        <div id="startAddressColumn">
            <div class="input-group">
                <label for="startCity">Start Address: <br> City</label>
                <input type="text" id="startCity" name="startCity" th:field="*{startCity}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('startCity')}" th:errors="${orders.startCity}" th:name="startCity">error</div>
            <br>
            <div class="input-group">
                <label for="startStreet">Street:</label>
                <input type="text" id="startStreet" th:field="*{startStreet}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('startStreet')}" th:errors="${orders.startStreet}" th:name="startStreet">error</div>
            <br>
            <div class="input-group">
                <label for="startHouse">House Number:</label>
                <input type="text" id="startHouse" th:field="*{startHouseNumber}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('startHouseNumber')}" th:errors="${orders.startHouseNumber}" th:name="startHouse">error</div>
            <br>
            <div class="input-group">
                <label for="startEntrance">Entrance Number:</label>
                <input type="text" id="startEntrance" th:field="*{startEntranceNumber}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('startEntranceNumber')}" th:errors="${orders.startEntranceNumber}" th:name="startEntrance">error</div>
            <br>
            <div class="input-group">
                <label for="startFlat">Flat Number:</label>
                <input type="text" id="startFlat" th:field="*{startFlatNumber}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('startFlatNumber')}" th:errors="${orders.startFlatNumber}" th:name="startFlat">error</div>
            <br>
        </div>

        <!-- Finish Address Column -->
        <div id="finishAddressColumn">
            <div class="input-group">
                <label for="finishCity">Finish Address: <br> City </label>
                <input type="text" id="finishCity" th:field="*{finishCity}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('finishCity')}" th:errors="${orders.finishCity}" th:name="finishCity">error</div>
            <br>
            <div class="input-group">
                <label for="finishStreet">Street:</label>
                <input type="text" id="finishStreet" th:field="*{finishStreet}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('finishStreet')}" th:errors="${orders.finishStreet}" th:name="finishStreet">error</div>
            <br>
            <div class="input-group">
                <label for="finishHouseNumber">House Number:</label>
                <input type="text" id="finishHouseNumber" th:field="*{finishHouseNumber}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('finishHouseNumber')}" th:errors="${orders.finishHouseNumber}" th:name="finishHouseNumber">error</div>
            <br>
            <div class="input-group">
                <label for="finishEntranceNumber">Entrance Number:</label>
                <input type="text" id="finishEntranceNumber" th:field="*{finishEntranceNumber}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('finishEntranceNumber')}" th:errors="${orders.finishEntranceNumber}" th:name="finishEntranceNumber">error</div>
            <br>
            <div class="input-group">
                <label for="finishFlatNumber">Flat Number:</label>
                <input type="text" id="finishFlatNumber" th:field="*{finishFlatNumber}" required>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('finishFlatNumber')}" th:errors="${orders.finishFlatNumber}" th:name="finishFlatNumber">error</div>
            <br>
            <br>
            <div class="error-message" th:if="${#fields.hasErrors('orderType')}" th:errors="${orders.orderType}" th:name="orderType">error</div>
            <br>
        </div>

        <!-- Delivery Type Column -->
        <div id="deliveryTypeColumn">
            <div class="input-group">
                <label for="deliveryType">Delivery Type:</label>
                <select id="deliveryType" th:field="*{deliveryType}">
                    <option value="express">Express</option>
                    <option value="standard">Standard</option>
                </select>
            </div>
            <div class="input-group">
                <label for="deliveryKind">Delivery Kind:</label>
                <select id="deliveryKind" th:field="*{orderType}">
                    <option value="food">Food</option>
                    <option value="electronics">Electronics</option>
                    <option value="people">People</option>
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" id="startLat" name="startLat">
    <div class="error-message" th:if="${#fields.hasErrors('startLat')}" th:errors="${orders.startLat}" th:name="startLat">error</div>

    <input type="hidden" id="startLng" name="startLng">
    <div class="error-message" th:if="${#fields.hasErrors('startLng')}" th:errors="${orders.startLng}" th:name="startLng">error</div>

    <input type="hidden" id="endLat" name="endLat">
    <div class="error-message" th:if="${#fields.hasErrors('endLat')}" th:errors="${orders.endLat}" th:name="endLat">error</div>

    <input type="hidden" id="endLng" name="endLng">
    <div class="error-message" th:if="${#fields.hasErrors('endLng')}" th:errors="${orders.endLng}" th:name="endLng">error</div>

    <input type="submit" value="Create Order">
    <br>

</form>
<br>
<br>
<hr>

<div id="container">
    <div id="map"></div>
    <div id="sidebar"></div>
</div>

<!--
  The `defer` attribute causes the callback to execute after the full HTML
  document has been parsed. For non-blocking uses, avoiding race conditions,
  and consistent behavior across browsers, consider loading using Promises.
  See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
  for more information.
  -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
        defer
></script>

</body>
</html>