<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>

<div th:each="person : ${users}">
    <div th:if="${person.getType == 'courier'}">
            <a th:text="${person.getName + ' ,' + person.getEmail() + ' ,' + person.getPassword + ' ,' + person.getType}">user</a>
    </div>

</div>
<br/>
<hr/>
<a href="/users/basket">Basket</a>
<br/>
<a href="/order/new">Зарегистрировать новый заказ</a>

</body>
</html>