<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello User</title>
</head>
<body>
<a href="/order">Create new order</a>
<br>
<br>
<div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
</div>
<br>
<div th:if="${orders.isEmpty()}">
    <p style="color: red">you currently do not have any orders</p>
    <hr/>
</div>

<div th:if="${!orders.isEmpty()}">
    <hr/>
    <p style="color: blue">You have orders :</p>
    <br/>
    <table th:each="order : ${orders}">
        <tr>
            <td>
                <a th:href="@{/order/{id}(id=${order.getId()})}"
                   th:text="${'Registered time : ' + #dates.format(order.getDate(), 'yyyy-MM-dd HH:mm')}"
                   style="color: chocolate"></a>
            </td>
        </tr>
    </table>
</div>
<hr>
<form id="logout-form" th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>
