<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HelloUser</title>
</head>
<body>
<a href="/order">Create new order</a>
<br>
<div th:if="${orders.isEmpty()}">
    <p style="color: red">you currently do not have any orders</p>
    <hr/>
</div>

<div th:if="${!orders.isEmpty()}">
    <hr/>
    <p style="color: blue">You have orders :</p>
    <br/>
    <table th:each="order : ${orders}">
        <tr style="color: chocolate">
        <td th:text="${'Order : ' + order.getName() + '. '}"></td>
        <td th:text="${'Registered time : ' + #dates.format(order.getDate(), 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </table>
</div>
<hr>
<form id="logout-form" th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>